body {
  text-align: center;
  background-color: #333;
}

h1 {
    margin: 60px;
    color: #26a69a;
    font-size: 100px;
}

.wrap {
  height: 110%;
  position: absolute;
  width: 100%;
}
.navbar {
  margin: 0 auto;
}
.question-answer {
  font-size: 30px;
  background: #eee;
}
.result-modal {
  background: #eee;
}
.user-input {
  position: relative;
  bottom: 10px;
  left: 20%;
  border: solid #ccc;
  width: 60%;
  background-color: #55595c;
}
/*this is for the big table*/
.table-question{
  width:100%;
  border: 0px;
}
/*this is for each column in the table*/
#Table-col {
  width: 18%;
  color: black;
  font-size: 30px;
}

.waves-effect {
  margin: 0 10px;
}
/*this is for category*/
.list-header-item {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  background-color: #26a69a;
  box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.75);
  text-align: center;
  height: 130px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: normal;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* this is for each individial question */
.list-question:before {
  content: '$'
}
.list-question {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  background-color: #26a69a;
  margin: 5px 5px;
  text-align: center;
  font-size: 75px;
  border: 2px solid black;
}
.list-question:first-child{
  background-color: #2fd0c0;
}
.list-question:nth-child(2) {
  background-color: #59d9cc;
}
.list-question:nth-child(3) {
  background-color: #82e3d9;
}
.list-question:nth-child(4) {
  background-color: #acece6;
}
.list-question:nth-child(5) {
  background-color: #d5f6f2;
}
/*this is for scores*/
.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid grey;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border: 2px solid black;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: #26a69a;
  color: black;
  font-size: 30px;
  font-weight: 700;
}
.Score-Table {
  width: 100%;
}
.Center-Score {
  width: 50%;
  margin: auto;
}
.Right-Score {
  width: 50%;
  margin: auto;
}

.Left-Score {
  width: 50%;
  margin: auto;
}
.panel-body {
  padding: 15px;
  border: 2px solid black;
  border-top: 0px;
  background-color: #26a69a;
  color: black;
  font-size: 30px;
  font-weight: 700;
}
.footer{
  color: #26a69a;
}
a {
  color: #26a69a
}
.message-container {
  overflow: auto;
  height: 400px;
  width: 60%;
  margin-left: 20%;
  border: solid #adadad;
  margin-top: 30px;
  margin-bottom: 15px;
  color: white;
  background-color: #55595c;
}
.collapsible.popout {
  margin-left: 15%;
}
.select-category-button-group {
  margin-left: 40%;
}
.select-category-button {
  margin: 2px;
}
.room-input {
  width: 50%;
  margin-left: 25%;
}
ul {
  list-style: none;
  text-align: left;
  font-size: 30px;
  width: 95%;
  margin-left: 5px;
}

input {
  text-align: center;
  font-size: 1em;
}

.chats li:nth-child(even) {
  background: grey;
}
#input-group {
  color: #26a69a;
  font-size: 30px;
}
