body {
  text-align: center;
  background-color: #333;
}

h1 {
  font-family: 'Bevan', cursive;
  margin: 40px;
  color: #26a69a;
  font-size: 130px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
h2, h3, h4, h5{
  font-family: 'Bevan', cursive;
  color: #26a69a;
}

.title {
  font-family: 'Bevan', cursive;
  color: #26a69a;
  margin: 40px;
  font-size: 130px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.header-leaderboard {
  color: #26a69a;
  font-size: 24px;
  border: solid #adadad;
}
.auth-nav {
  float: right;
  color: white;
}
tr.score-leaderboard:nth-child(even) {
  background-color: #adadad;
}
tr.score-leaderboard:nth-child(odd) {
  background-color: #ccc;
}

.time{
  float: right;
}
.timeHeader {
  text-align: center;
}
.table-leaderboard {
  width: 40%;
  margin: 5% 0 5% 30%;
  border: solid #adadad;
  color: #333;
  font-size: 20px;
  font-weight: bold;
}
.table-auth {
  text-align: center;
  width: 60%;
  margin: 50px 20%;
  border: solid #adadad;
  background-color: #55595c

}
.wrap {
  position: absolute;
  width: 100%;
}
nav ul a {
  transition: background-color .3s;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  margin-top: -6;
}
.navbar {
  margin: 0 auto;
  color: white;
  background-color: #26a69a;
}
.question-answer {
  font-size: 30px;
  background: #eee;
}
.result-modal {
  background: #eee;
}
.user-input {
  position: relative;
  bottom: 10px;
  left: 20%;
  border: solid #ccc;
  width: 60%;
  background-color: #55595c;
}
/*this is for the big table*/
.table-question{
  width:100%;
  border: 0px;
}
/*this is for each column in the table*/
#Table-col {
  width: 18%;
  color: black;
  font-size: 30px;
}
#games {
  width: 300px;
  height: 50px;
  font-size: 30px;
}
.waves-effect {
  margin: 0 10px;
  position: initial;
}
.close-result-button {
  padding: 5px;
}
/*this is for category*/
.list-header-item {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  background-color: #26a69a;
  box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.75);
  text-align: center;
  height: 130px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: normal;
  align-items: center;
  display: flex;
  justify-content: center;
}

td, th {
  border-radius: 0 !important;
}
/* this is for each individial question */
.list-question:before {
  content: '$'
}
.list-question {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  background-color: #26a69a;
  margin: 5px 5px;
  text-align: center;
  font-size: 75px;
  border: 2px solid black;
}
.list-question:first-child{
  background-color: #2fd0c0;
}
.list-question:nth-child(2) {
  background-color: #59d9cc;
}
.list-question:nth-child(3) {
  background-color: #82e3d9;
}
.list-question:nth-child(4) {
  background-color: #acece6;
}
.list-question:nth-child(5) {
  background-color: #d5f6f2;
}
/*this is for scores*/
.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid grey;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border: 2px solid black;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: #26a69a;
  color: black;
  font-size: 30px;
  font-weight: 700;
}
.Score-Table {
  width: 100%;
}
.Center-Score {
  width: 50%;
  margin: auto;
}
.Right-Score {
  width: 50%;
  margin: auto;
}

.Left-Score {
  width: 50%;
  margin: auto;
}
.panel-body {
  padding: 15px;
  border: 2px solid black;
  border-top: 0px;
  background-color: #26a69a;
  color: black;
  font-size: 30px;
  font-weight: 700;
}
.footer {
  color: #26a69a;
}
a {
  color: #26a69a;
  text-align: center;
}

.chat-container{
  height: 100px;
  width: 60%;
  margin-left: 20%;
  border: solid #adadad;
  margin-top: 30px;
  background-color: #55595c;

}
.chat-room {
  text-align: center;
  color: #26a69a;
}
.message-container {
  overflow: auto;
  height: 300px;
  width: 60%;
  margin-left: 20%;
  border: solid #adadad;
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
  background-color: #55595c;
}

.timestamp {
  float: right;
  text-align: right;
}

.collapsible.popout {
  margin-left: 15%;
}
.select-category-button-group {
  margin-left: 40%;
}
.select-category-button {
  margin: 2px;
}
.room-input {
  width: 50%;
  margin-left: 25%;
}

.join-room {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

ul {
  list-style: none;
  text-align: left;
  font-size: 30px;
  width: 95%;
  margin-left: 20px;
}
.form-sign {
  margin: 40px;
  background-color: #55595c;
  border: solid #adadad;
  text-align: center;
}

.auth-input {
  text-align: center;
  font-size: 30px;
  color: #26a69a;
}
label {
  font-size: 3rem
}

li:nth-child(odd){
  color: #26a69a;
}
.li-header {
  font-size:25px;
}
input {
  text-align: center;
  color: #26a69a;
  font-size: 25px !important;
}
#input-group {
  color: #26a69a;
  font-size: 30px;
  text-align: center;
}

img {
  border-radius: 60%;
}
.names{
  color: #26a69a;
  text-align: center;
}
.pictures {
  display: inline-block;
  margin: 0 30px 0 30px;
  text-align: center;
}

.logo {
  margin-top: 20px;
}

.about {
  text-align: center;
}

.row {
  margin-top: 40px;
}

.bottom-align-text {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.error-container {
  font-size: 21;
  color: #d9534f;
}

.auth-nav {
  color: white;
}
