body {
  background-color: #7FDBFF;
  text-align: center;
}

#container {
  width: 100%;
  text-align: center;
  position: relative;
}
h1 {
  margin-top: 60px;
}

.navbar {
  margin: 0 auto;
}
/*this is for the big table*/
.table-question{
 width:100%;
 border: 0px;
}
/*this is for each column in the table*/
#Table-col {
    width: 18%;
    color: #7FDBFF;
    font-size: 30px;
}

/*this is for category*/
.list-header-item {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    background-color:  #0074D9;
    box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.75);
    text-align: center;
    height: 130px;
    margin-bottom: 15px;
    font-size: 40px;
}

/* this is for each individial question */
.list-question:before {
  content: '$'
}
.list-question {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  background-color: #0074D9;
  margin: 5px 5px;
  text-align: center;
  font-size: 75px;
  border: 2px solid black;
}
/*this is for scores*/
.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid grey;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
    padding: 10px 15px;
    border: 5px solid black;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #0074D9;
    color: #7FDBFF;
    font-size: 30px;
}
.Score-Table {
  width: 100%;
}
.Center-Score {
width: 50%;
margin: auto;
}
.Right-Score {
width: 50%;
margin: auto;
}

.Left-Score {
width: 50%;
margin: auto;
}
.panel-body {
    padding: 15px;
    border: 5px solid black;
    border-top: 0px;
    background-color: #0074d9;
    color: #7FDBFF;
    font-size: 30px;
}

.message-container {
  overflow: auto;
  height: 400px;
  width: 80%;
  margin-left: 10%;
  border-style: solid;
  margin-top: 30px;
}

ul {
  list-style: none;
  text-align: left;
  font-size: 30px;
  width: 95%;
}

input {
  text-align: center;
  font-size: 1em;
}
